@charset "UTF-8";

body{
    background-color: #6039FA;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: #AD9B05;
    text-align: center;
    color: #3517AD;
}
h2{
    color: #3517AD;
}

h4{
    color: rgb(255, 255, 255);
}

video{
    width: 400px;
}

p{
    color: rgb(255, 255, 255);
}